* {
  padding: 0rem;
  margin: 0rem;
}

body {
  font-family: sans-serif;
  background: #1f2937;
}

#header {
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
}

#title {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 3.8rem;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding: 5rem;
}

#unit-input {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
}

#unit-input::placeholder {
  color: #fff;
}

#unit-input:focus {
  outline: none;
  border: 2px solid #fff;
}

#convert-btn {
  background-color: #5a5dfd;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin: 30px 0;
  width: 120px;
  height: 42px;
  font-size: 22px;
}

#main-content {
  padding-bottom: 3rem;
}

.unit-title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
  padding-top: 3rem;
}

.unit-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #d2d2d2;
  padding-top: 0.5rem;
}
